<section class="about">
    <div class="about__content">
        <h2 class="about__content--title">Quem é o professor?</h2>
        
        <article class="about__content--text">
            <p>Tudo começou em uma barbearia. Eu queria atrair mais clientes para eles e comecei a gravar vídeos com meu celular. Esses vídeos fizeram sucesso e logo meus amigos começaram a me pedir para fazer vídeos para suas empresas.</p>
    
            <p>De indicação em indicação, fui crescendo, atendendo muitos clientes e ganhando dinheiro oferecendo esse serviço. Além de produzir para os meus clientes, usei essas mesmas técnicas para fazer reels para o meu próprio perfil profissional. O que fez com que ele explodisse para mais de 98 mil seguidores.</p>
    
            <p>Hoje, tenho mais de 700 alunos no Editor Mobile, aplicando essas técnicas com sucesso para crescerem o seu próprio perfil e os perfis de seus clientes. E agora, quero que você tenha essa mesma oportunidade. O Editor Mobile é a sua chance de aprender comigo, passo a passo, como criar reels que não só atraem seguidores, mas também transformam esses seguidores em clientes leais.</p>
        </article>
    </div>

    <div class="about__img"></div>
    
</section>