<section class="about">
    <div class="about__content">
        <h2 class="about__content--title">Quem é o professor?</h2>
        
        <article class="about__content--text">
            <p>De um pequeno negócio a mais de 98 mil seguidores: conheça Gabriel, seu mentor em edição de vídeos</p>

            <p>Tudo começou em uma barbearia. Gabriel queria atrair mais clientes para eles e começou a gravar vídeos com seu celular. Esses vídeos fizeram sucesso e logo seus amigos começaram a lhe pedir para fazer vídeos para suas empresas.</p>
    
            <p>De indicação em indicação, foi crescendo, atendendo muitos clientes e ganhando dinheiro oferecendo esse serviço. Além de produzir para os seus clientes, Gabriel Robson usou essas mesmas técnicas para fazer reels para o seu próprio perfil profissional. O que fez com que ele explodisse para mais de 98 mil seguidores.</p>
    
            <p>Hoje, ele tem mais de 700 alunos no Editor Mobile, aplicando essas técnicas com sucesso para crescerem o seu próprio perfil e os perfis de seus clientes. E agora, quero que você tenha essa mesma oportunidade. O Editor Mobile é a sua chance de aprender com o Gabriel, passo a passo, como criar reels que não só atraem seguidores, mas também transformam esses seguidores em clientes leais.</p>
        </article>

        <a  href="https://pay.kiwify.com.br/dEsV9eC?afid=1oI37H2H" target="_blank" class="about__content--btn1 button-price-animation">QUERO GARANTIR MINHA VAGA</a>
    </div>


    <div class="about__img">
        <div class="about__img--producer"></div>
        <div class="about__img--vertical"></div>
    </div>

    <a  href="https://pay.kiwify.com.br/dEsV9eC?afid=1oI37H2H" target="_blank" class="about__btn2 button-price-animation">QUERO GARANTIR MINHA VAGA</a>
</section>