<section class="about">
    <div class="about__content">
        <h2 class="about__content--title">Quem é o professor?</h2>
        
        <article class="about__content--text">
            <p>Começou na barbearia aos 13 anos de idade, Isaac começou a fazer os seus primeiros corte de cabelo. O jovem empresário hoje aos 23 anos de idade e já com mais de 8 anos na profissão de barbeiro é dono da sua própria barbearia e já emprega mais de 3 pessoas em sua equipe levando sustendo para suas famílias através da barbearia.</p>
    
            <p>Isaac que é conhecido como Isaac Arts também compartilha seu conhecimento em cursos e workshop com sua metodologia simples e prática de aprender, hoje ele conta com mais de 270 MIL inscritos no canal no YouTube e mais de 55 MIL seguidores no Instagram.</p>
    
            <p>Ele vem influenciando as pessoas através das redes sociais, mudando suas vidas através da área da barbearia e agora ele está disponibilizando o curso BARBEIRO DESCOMPLICADO para ajudar ainda mais pessoas através do mundo com seu conhecimento incrível.</p>
        </article>
    </div>

    <div class="about__img"></div>
    
</section>