<main class="terms">
    <div class="terms__introdoction">
        <h2>Termos e condições</h2>
        <span>Última modificação: Domingo, 24 de Janeiro de 2025</span>
    </div>

    <article class="terms__article">
        <div class="terms__article--box">
            <h2>Introdução</h2>
            <p>Estes termos e condições, presentes nesta página da web, devem gerenciar o uso do site <a href="https://www.deividbarreto.com" target="_blank">www.deividbarreto.com</a>.</p>

            <p>Ao usar este site, você concorda com estes termos e condições aqui escritos. Sendo assim, você não discorda de todos os termos aqui abordados.</p>
        </div>

        <div class="terms__article--box">
            <h2>Material utilizado no site</h2>
            <p>Todo material usado neste site é totalmente legalizado, não infringindo nenhuma lei ou regra previamente estabelecida.</p>
            <p>Materiais como imagens, vídeos e textos são autorizados pelo produtor do produto.</p>
        </div>

        <div class="terms__article--box">
            <h2>Responsabilidade do site</h2>
            <p>Este site se refere à promoção de produtos de terceiros. Com isso em mente, enfatizamos com firmeza nossa responsabilidade de única e exclusivamente promover produtos presentes em plataformas digitais legalizadas.</p>
            <p>Portanto, deve ser levada em consideração a presença do produtor como figura principal do produto propriamente dito, assumindo, assim, toda responsabilidade do produto pós-compra.</p>
        </div>

        <div class="terms__article--box">
            <h2>Responsabilidade do produtor</h2>
            <p>O produtor, com a plataforma de afiliação do produto, tem total responsabilidade sobre a entrega do produto, levando em consideração a promessa feita pelo mesmo.</p>
            <p>Portanto, não é de responsabilidade deste site a entrega de nenhum conteúdo pré-estabelecido na página de vendas.</p>
        </div>

        <div class="terms__article--box">
            <h2>Responsabilidade do usuário</h2>
            <p>Ao usar o site, o usuário tem total responsabilidade sobre quaisquer ações tomadas!</p>
            <p>O usuário tem o dever de usar o site devidamente e tem o direito de receber o que nele é oferecido.</p>
        </div>

        <div class="terms__article--box">
            <h2>Pagamentos e meios</h2>
            <p>Ao usar este site, você poderá, voluntariamente, ser redirecionado para uma página de pagamento. A partir deste exato momento, fica de responsabilidade do produtor e da plataforma de afiliados toda e qualquer transação feita pelo usuário.</p>

            <p>Você também poderá, voluntariamente, ser redirecionado para o Whatsapp pessoal do afiliado, podendo ter negociações com o mesmo no canal de comunicação. Daí em diante, a autoridade dos termos e condições será transferida para a empresa Meta Plataforms Inc, proprietária da ferramenta.</p>

            <p>As formas de pagamentos são pré-estabelecidas pelo produtor, sendo assim: boleto, Pix, crédito ou débito.</p>
        </div>
    </article>
</main>

<app-footer></app-footer>

