<div class="range">
    <div class="range__item">
        <ng-icon  class="range__item--icon" name="matComputer"></ng-icon>
        <h4 class="range__item--title">100% online</h4>
    </div>

    <div class="range__item">
        <ng-icon class="range__item--icon" name="matPeople"></ng-icon>
        <h4 class="range__item--title">700+ alunos</h4>
    </div>

    <div class="range__item">
        <ng-icon class="range__item--icon" name="matMenuBook"></ng-icon>
        <h4 class="range__item--title">12 módulos completos</h4>
    </div>
</div>