.range {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: orangered;
    
    &__title {
        font-size: 1.2rem;
        text-align: center;
        color: #000;
        line-height: 1.5rem;
    }
}

@media(min-width: 768px) {
    .range {
        padding: 2rem 4rem;
    }
}