@use "../../../assets/styles/variables" as *;

.range {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 4rem 2rem;

    max-width: 1440px;
    justify-self: center;
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
        &--icon {
            font-size: 2rem;
            color: $primary-color;
        }

        &--title {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

@media(min-width: 768px) {
    .range {
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;

        &__item {
            justify-content: center;
            width: 33vw;
        }
    }
}