<section class="content">
    <div class="content__img"></div>

    <div class="content__text">
        <div class="content__text--titles">
            <h2>O que você irá aprender no curso <br><strong>Barbeiro Descomplicado</strong>?</h2>
            <h5>Veja um pouco do que você irá aprender neste curso:</h5>
        </div>

        <ul class="content__text--list">
            <li class="content__text--list__item" *ngFor="let item of courseContent">
                <ng-icon name="bootstrapCheck"></ng-icon>
                {{ item }}
            </li>
        </ul>

        <span>E muito, muito mais!!!</span>
    </div>
</section>
