<main class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">Transforme o seu celular em uma câmera profissional</h2>
        <p class="banner__content--text">Aprenda a editar vídeos da mais alta qualidade, sem quebrar a cabeça, com técnicas comprovadas que vão te impulsionar mesmo que você esteja começando do absoluto zero!</p>
    </div>

    <div class="banner__image">
        <div class="banner__image--banner"></div>
        <div class="banner__image--bottom"></div>
        <a href="https://pay.kiwify.com.br/dEsV9eC?afid=1oI37H2H" target="_blank" class="banner__image--button">SIM, QUERO GARANTIR MINHA VAGA</a>
    </div>
</main>