@import "../../../assets/styles/variables";

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
    padding: 4rem 2rem;


    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--title {
            font-size: 2.5rem;
            color: #df0a0a;
        }

        &--text {
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1.4rem;
            color: $cor3;
        }
    }

    &__video {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--yt {
            width: 100%;
            height: 10rem;
            background-color: #ccc;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        &--button {
            font-size: .9rem;
            font-weight: 700;
            border-radius: 1rem;
            text-decoration: none;
            text-align: center;
            padding: 1rem;
            background-color: $primary-color;
            color: #fff;
        }
    }
}

@media(min-width: 768px) {
    .banner {
        flex-direction: row;
        align-items: center;

        &__content {
            width: 50%;

            &--title {
                font-size: 2.2rem;
            }

            &--text {
                line-height: 1.4rem;
            }
        }

        &__video {
            width: 50%;
            align-self: center;

            &--yt {
                height: 15rem;
            }
        }
    }
}

@media(min-width: 1024px) {
    .banner {
        padding: 4rem;

        &__content {
            &--title {
                font-size: 2.5rem;
            }
        }
    }
}

@media(min-width: 1040px) {
    .banner {
        &__content {
            &--title {
                font-size: 3.2rem;
            }

            &--text {
                font-size: 1.1rem;
            }
        }

        &__video {
            &--yt {
                width: 90%;
            }

            &--button {
                width: 90%;
            }
        }
    }
}