<main class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">Transforme o seu celular em uma câmera profissional</h2>
        <p class="banner__content--text">Aprenda a editar vídeos da mais alta qualidade, sem quebrar a cabeça, com técnicas comprovadas que vão te impulsionar mesmo que você esteja começando do absoluto zero!</p>
    </div>

    <div class="banner__video">
        <video class="banner__video--yt" controls autoplay>
            <source src="../../../assets/media/videos/video1.MP4" type="video/mp4">
            Seu navegador não suporta vídeos HTML
        </video>
        <a href="https://pay.kiwify.com.br/dEsV9eC?afid=1oI37H2H" target="_blank" class="banner__video--button">SIM, QUERO GARANTIR MINHA VAGA</a>
    </div>
</main>