<main class="banner">
    <div class="banner__content">
        <h2 class="banner__content--title">Transforme sua Paixão em uma Profissão de Sucesso!</h2>
        <p class="banner__content--text">Descubra agora tudo que uma pessoa comum precisa saber para se tornar um barbeiro profissional. Com técnicas simples, práticas e rápidas que vão te impulsionar mesmo que você esteja começando do absoluto zero!</p>
    </div>

    <div class="banner__video">
        <div class="banner__video--yt"></div>
        <a href="https://kiwify.app/KfMi9ik?afid=hqm946S8" class="banner__video--button">SIM, QUERO GARANTIR MINHA VAGA</a>
    </div>
</main>