@use "../../../../assets/styles/variables" as *;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    max-width: 20rem;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        background-color: $black-default;
        color: $primary-color;
        border: 1px solid $black-default;
        
        ng-icon {
            font-size: 2rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        &--title {
            font-size: 1.5rem;
        }

        &--text {
            font-size: 1rem;
            line-height: 1.4rem;
            color: $secundary-color;
        }
    }
}

@media(min-width: 768px) {
    .card {
        gap: 2rem;
    }
}