<section>
    <h2>Tudo isso por apenas</h2>
    <div class="price">
        <div class="price__discount">
            <strong>33% de desconto</strong>
        </div>
        <div class="price__price">
            <span class="price__price--before">De R$297 por apenas</span>
            <strong class="price__price--now">
                <span>12x</span>
                R$19,78
            </strong>
            <span class="price__price--cashPrice">ou R$197 à vista</span>
        </div>
        <ul class="price__benefits">
            <li><ng-icon name="matCheck"></ng-icon> Curso 100% online</li>
            <li><ng-icon name="matCheck"></ng-icon> Um passo a passo organizado</li>
            <li><ng-icon name="matCheck"></ng-icon> Acesso à comunidade no telegram</li>
            <li><ng-icon name="matCheck"></ng-icon> Faça vídeos profissinais apenas com o seu celular</li>
        </ul>
        <a href="https://pay.kiwify.com.br/dEsV9eC?afid=1oI37H2H" target="_blank" class="price__link" title="link que redireciona para a página de pagamento">Quero aprender a gravar e editar reels</a>
        <div class="price__payments" title="imagem de fundo que informa as formas de pagamento"></div>
    </div>
</section>