<section class="block-text">
    <div class="block-text__div">
        <h2 class="block-text__div--title">Reels Profissionais: Aprenda a Editar e Aumente Seu Engajamento!</h2>
        <h3 class="block-text__div--subtitle">Se você quer crescer no Instagram e destacar seus vídeos, a edição faz toda a diferença! Neste curso, você vai aprender a criar Reels dinâmicos e envolventes no CapCut, utilizando cortes estratégicos, transições criativas e efeitos que prendem a atenção do público. Transforme seus conteúdos e alcance mais visualizações e engajamento de forma simples e eficiente!</h3>
        <a href="#"  class="block-text__div--link button-price-animation">Comece agora como um editor profissional</a>
    </div>

    <div class="block-text__div">
        <h2 class="block-text__div--title">Venda Mais no Instagram com Vídeos Atraentes Feitos no CapCut!</h2>
        <h3 class="block-text__div--subtitle">No digital, quem chama atenção vende mais! Aprenda a criar vídeos impactantes no CapCut e transforme seus Reels em uma ferramenta poderosa para atrair clientes e aumentar suas vendas. Mesmo sem experiência, você vai descobrir como editar vídeos de forma rápida e profissional, deixando seu produto ou serviço mais atrativo no Instagram. Comece agora e destaque seu negócio!</h3>

        <h4>Comece agora e surpreenda-se com o que pode criar!</h4>
    </div>

    <a href="#" class="block-text__button button-price-animation">Comece agora como um editor profissional</a>
</section>