<section class="cards">
    <h2 class="section-titles">Potencialize seu conhecimento com o curso perfeito pra você!</h2>

    <div class="cards__content">
        <app-card
            title="Do básico ao avançado"
            text="Passo a passo simples e didático, não importa se você já possui ou não conhecimento na área."    
        ></app-card>

        <app-card
            title="Aulas didáticas"
            text="Aulas didáticas e de fácil entendimento, dessa forma qualquer pessoa consegue aprender e colocar em prática o conteúdo ensinado."
        ></app-card>

        <app-card 
            title="Mercado em alta" 
            text="Você estará pronto para atuar no mercado que mais tem crescido no mundo e se destacar como um profissional qualificado."
        ></app-card>
    </div>
</section>