<section class="cards">
    <h2 class="cards__title">Por que escolher o Editor Mobile para aprender edição de vídeos?</h2>

    <ul class="cards__content">
        <app-card
            titleCard="Metodologia simples"
            text="Aprenda a editar vídeos no celular sem depender de softwares caro e vire um profissional na área!"
            nameIcon="bootstrapBook"
        ></app-card>

        <app-card
            titleCard="Suporte exclusivo"
            text="Você terá acesso ao grupo VIP + suporte personalizado com atualizações constantes para aprimorar sua edição"
            nameIcon="bootstrapCheckAll"
        ></app-card>

        <app-card 
            titleCard="Mercado em alta" 
            text="O mercado de vídeos curtos está em expansão – torne-se um editor profissional agora!"
            nameIcon="bootstrapGraphUpArrow"
        ></app-card>
    </ul>
</section>