<section class="cards">
    <h2 class="section-titles">Potencialize seu conhecimento com o curso perfeito pra você!</h2>

    <div class="cards__content">
        <app-card
            title="Metodologia simples"
            text="Isso porque, eu desenvolvi uma metodologia simples e prática para gravar e editar reels usando apenas o seu celular (sem precisar de aplicativos pagos)."
            nameIcon="bootstrapBook"
        ></app-card>

        <app-card
            title="Suporte exclusivo"
            text="Além de ter acesso à trilha completa, você também terá suporte no grupo VIP do Telegram e atualizações constantes do curso."
            nameIcon="bootstrapCheckAll"
        ></app-card>

        <app-card 
            title="Mercado em alta" 
            text="Você estará pronto para atuar no mercado que mais tem crescido no mundo e se destacar como um profissional qualificado."
            nameIcon="bootstrapGraphUpArrow"
        ></app-card>
    </div>
</section>