@use "../../../assets/styles/variables" as *;

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  min-height: 100vh;
  padding: 4rem 2rem;

  h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .feedbacks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    &__comment {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      border: 1px solid $secundary-color;
      padding: 1rem;
      width: 100%;
      max-width: 30rem;
      min-height: 12rem;

      &--stars {
        color: $stars-feedback-color;
        padding-bottom: .5rem;
        border-bottom: 1px solid $secundary-color;
      }

      &--text {
        padding-top: .5rem;
        font-size: 1.1rem;
        line-height: 1.7rem;
      }
    }
  }

}

@media(min-width: 768px) {
  section {
    h2 {
      font-size: 2.5rem;
      max-width: 40rem;
    }
  }
}